:root {font-family: 'Montserrat', sans-serif;}

html {box-sizing: border-box; margin: 0; padding: 0;}
*, *:before, *:after {box-sizing: inherit;}

#title {font-family: 'Bangers', cursive; font-size: 3.5rem; text-align: center; margin: 0;}

.gradient-text {
	background-image: linear-gradient(45deg, yellow, red, yellow);
	background-size: 100%;
	background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-stroke: 1px black;
  }

#description {font-size: 1.5rem; text-align: center; width: 95%; padding: 1%; display: table; margin: auto;}

strong {font-size: 2rem;}

#survey-form {margin: 2% 0; padding-left: 2%; font-size: 1.5rem;}

.orange-border {border: 0.5rem solid orange;}
.whiteblue-box {background: hsla(360, 100%, 100%, 0.3); color: hsla(215, 100%, 30%, 1); -webkit-text-stroke: 1px black;}

form label {display: block;}
.larger-label {font-size: 1.7rem;}

input[type=text], [type=email] {
	font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  width: 70vw;
	max-width: 500px;
  padding: 1% 2%;
  margin: 1% 0 0 2%;
  }

  input[type=number] {
	font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  width: 50vw;
	max-width: 500px;
  padding: 1% 0 1% 2%;
  margin: 1% 0 4% 3.7%;
  }

#dropdown {
	width: 50vw;
	max-width: 500px;
	font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
	padding: 1% 2%;
	margin: 2% 0;
	}

div {margin: 2% 0;}
textarea {width: 80vw; max-width: 666px; resize: none; font-size: 1.25rem; margin: 2% 0;}

#submit {
  width: 30%;
  padding: 1% 2%;
  display: block;
  margin: auto;
	margin-bottom: 2%;
  font-family: 'Bangers', cursive;
  font-size: 2rem;
  background-color: red;
}

#submit:hover, #submit:focus {background-color: orange; cursor: pointer;}

.container {position: relative;}
.container:before {content: ""; position: fixed; top: -8vw; bottom: 0; left: 0px; right: 0; z-index: 1;
background-image: url("https://live.staticflickr.com/65535/50320428317_fd1bb79959_o.jpg"); background-repeat: no-repeat;
background-size: 100%; opacity: 0.9;}

.content {position: relative; z-index: 2;}

@media (max-width: 1000px) {
	#title {font-size: 3rem;}
	#description {font-size: 1.3rem;}
	strong {font-size: 1.6rem;}
	#survey-form {font-size: 1.3rem;}
	.larger-label {font-size: 1.3rem;}
	input[type=text], [type=email] {font-size: 1.3rem;}
	input[type=number] {font-size: 1.3rem;}
	#dropdown {font-size: 1.3rem;}
}


@media (max-width: 770px) and (orientation: portrait) {
	#title {font-size: 2rem;}
	#description {font-size: 1rem;}
	strong {font-size: 1.2rem;}
	#survey-form {font-size: 0.8rem;}
	.larger-label {font-size: 0.8rem;}
	input[type=text], [type=email] {font-size: 0.8rem;}
	input[type=number] {font-size: 0.8rem;}
	#dropdown {font-size: 0.8rem;}
	textarea {font-size: 0.8rem;}
	#submit {font-size: 1.3rem;}
	.container:before {background-size: 200vh; top: -40vh; left: -90vh; opacity: 0.6;}
}
